apiVersion: v1
kind: Secret
metadata:
  name: tofai-secrets
type: Opaque
data:
  # These values should be base64 encoded
  MONGODB_URI: ${BASE64_MONGODB_URI}
  REDIS_HOST: ${BASE64_REDIS_HOST}
  REDIS_PORT: ${BASE64_REDIS_PORT}
  REDIS_USER: ${BASE64_REDIS_USER}
  REDIS_SECRET: ${BASE64_REDIS_SECRET}
  CLAUDE_API_KEY: ${BASE64_CLAUDE_API_KEY}
  OPENAI_API_KEY: ${BASE64_OPENAI_API_KEY}
  GEMINI_API_PROJECT_NUMBER: ${BASE64_GEMINI_API_PROJECT_NUMBER}
  GEMINI_API_SECRET: ${BASE64_GEMINI_API_SECRET}
  ELEVEN_TTS_SECRET: ${BASE64_ELEVEN_TTS_SECRET}
  GOOGLE_SEARCH_API_KEY: ${BASE64_GOOGLE_SEARCH_API_KEY}
  GOOGLE_CSE_ID: ${BASE64_GOOGLE_CSE_ID}
  AWS_ACCESS_KEY_ID: ${BASE64_AWS_ACCESS_KEY_ID}
  AWS_SECRET_ACCESS_KEY: ${BASE64_AWS_SECRET_ACCESS_KEY}
  AWS_REGION: ${BASE64_AWS_REGION}
  S3_BUCKET: ${BASE64_S3_BUCKET}
  S3_REGION: ${BASE64_S3_REGION}
  SECRET_KEY: ${BASE64_SECRET_KEY}
  COGNITO_REGION: ${BASE64_COGNITO_REGION}
  COGNITO_USER_POOL_ID: ${BASE64_COGNITO_USER_POOL_ID}
  COGNITO_CLIENT_ID: ${BASE64_COGNITO_CLIENT_ID}
  COGNITO_CLIENT_SECRET: ${BASE64_COGNITO_CLIENT_SECRET}
  COGNITO_DOMAIN: ${BASE64_COGNITO_DOMAIN}
  COGNITO_REDIRECT_URL: ${BASE64_COGNITO_REDIRECT_URL}
  COGNITO_LOGOUT_URL: ${BASE64_COGNITO_LOGOUT_URL}
  COGNITO_SCOPE: ${BASE64_COGNITO_SCOPE}
  COGNITO_TOKEN_SIGNING_URL: ${BASE64_COGNITO_TOKEN_SIGNING_URL}